@import '../../components/Card/card';
@import '../../components/Pillow/pillow';
@import '../../components/Select/select';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #282c34;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}